@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hidden{
    display: none;
}

.change-password-form{
    background-color: rgba(0, 0, 0, 0.75);
    width:75%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Press Start 2P', cursive;
    font-size: .65rem;
    color: white;
}

.change-password-form-item{
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 2rem;
}

.current-password-input{
    margin-top: 1rem;
}

.new-password-input{
    margin-top: 1rem;
}

.re-new-password-input{
    margin-top: 1rem;
}

.change-password-button{
    background-color: transparent;
    border: 1px solid white;
    padding: .5rem;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: auto;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: .75rem;
    color: white;
}

.change-password-button:hover{
    color: red;
    cursor: pointer;
}

.close-button{
    display: flex;
    font-size: 2rem;
    justify-content: right;
    margin: .5rem;
}

.close-button-icon:hover{
    cursor: pointer;
    color: red;
}

.confirm-password-changed{
    margin-top: 1rem;
    text-align: center;
    color: red;
}

