@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.footer-text{
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    justify-content: center;
    /* margin-top: 2%; */
}